{
	"url": "https://g5ni3sw220.execute-api.us-west-2.amazonaws.com/prod/OCR",
	"stats": [
		"ocr_time",
		"convert_time"
	],
	"ops": [
		{
			"data": {
				"files": {
					"image": "images/"
				},
				"code": "ocr",
				"data": {
					"data": {"b64": "image"},
					"filename": {"name": "image"}
				}	
			},
			"freq": 1
		},
		{
			"data": {
				"files": {
					"pdf": "pdfs/"
				},
				"code": "ocr",
				"data": {
					"data": {"b64": "pdf"},
					"filename": {"name": "pdf"}
				}				
			},
			"freq": 1
		}
	]

}
